@import url(https://fonts.googleapis.com/css?family=Handlee|Pacifico);
body kbd{
  font-family: 'Pacifico', cursive;
  font-size: 13px;
  text-align: left;
}
h1{
  font-family: verdana;
  position: relative;
  left: 60px;
  top: -10px;
}
#kick{
  position: absolute;
  left: 50px;
  top: 80px;
  background-color: red;
  color: white;
  border-radius: 50%;
  text-align: center;
  height: 25px;
  width: 25px;
  padding: 50px;
  border: 5px solid #555;
  border-color: black;
}
.tom{
  background-color: red;
  color: white;
  border-radius: 50%;
  text-align: center;
  height: 25px;
  width: 25px;
  padding: 20px;
  border: 3px solid #555;
  border-color: black;
}
#tom1{
  position: absolute;
  left: 10px;
  top: 50px;
}
#tom2{
  position: absolute;
  left: 150px;
  top: 50px;
}
.prato{
  background-color: #ffd700;
  color: white;
  border-radius: 50%;
  text-align: center;
  height: 25px;
  width: 25px;
  padding: 20px;
  border: 3px solid #555;
  border-color: black;
}
#prato1{
  position: absolute;
  left: 0px; 
  top: 200px;
  
}
#prato2{
  position: absolute;
  height: 45px;
  width: 45px;
  left: 210px; 
  top: 30px;
}
#surdo1{
  position: absolute;
  left: 10px;
  top: 150px;
}
#caixa{
  position: absolute;
  left: 150px;
  top: 150px;
}